main {
    background-color: #4A3F3E;
    padding-bottom: 20px;

}

.text-container {
    background-color: #4A3F3E; /* Marrom escuro */
    padding: 20px 40px;
    font-family: 'UnifrakturCook', cursive;
    font-size: 200px;
    color: whitesmoke;
    text-align: center;
    padding-top: 100px;
   
}

.img-container {
  display: flex;
    gap: 100px;
    justify-content: center;
}

.img1 {
    background-color: #75524F;
    border-radius: 10%;
    border: #A15850, 5px;
    margin: 40px; /* Reduzir a margem das imagens */
    padding: 5px; /* Adicionar padding para controle do espaço interno */
    margin-inline: 0px;
    display: block;
    width: 700px;
    height: 600PX;
    justify-content: center;
    text-align: center;

}
.img1 h2{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

a{
    text-decoration: none;
}